<section id="meta-game" >
  <div class="inner">
    <header class="major">
        <h2>Get your game on!</h2>
    </header>
    <p>Inside each of our locations is a <strong>special game</strong> waiting for you to play it. 
      Do your best to defeat the game, 
      then use the QR code given to upload your score online to our leaderboard where you can compete against everyone else at the festival.
    </p>
    <p>You can only upload your best score at each location, so make sure you visit <em>all</em> the sites!</p>
    <ul class="actions">
        <li><a href="{{ site.map_url }}" class="button next">View the map and latest scores</a></li>
    </ul>
</div>
</section>
